.todo-container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.todo-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #333;
    font-family: monospace;
}

.todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-input input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-input button {
    background-color: #1890ff;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    height: 40px;
}

.todo-input button:hover {
    background-color: #0078d4;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    border-radius: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.data:hover {
    transform: translateY(-2px);
}

.button-group {
    display: flex;
    gap: 8px;
}

.button-setting {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    transition: 0.3s;
}

.button-setting:hover {
    color: #f5222d;
}.no-data{
    font-family: monospace;
    text-align: center;
    color: red;
 }